@font-face {
    font-family: "Neue Haas Grotesk Text Pro";
    src: url(../asset/font/NHaasGroteskTXPro-Rg.ttf);
    font-weight: 400;
}

@font-face {
    font-family: "Neue Haas Grotesk Text Pro";
    src: url(../asset/font/NHaasGroteskTXPro-It.ttf);
    font-weight: 400;
    font-style: italic;
}
