/* css reset */
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

a {
    color: white;
    /* text-decoration: none; */
}

#root, #__next {
    isolation: isolate;
}
/* css reset */

/* global styles */
body {
    font-family: "Neue Haas Grotesk Text Pro";
    font-weight: 400;
    background-color: #1c1f1f;
    color: white;
}

@font-face {
    font-family: "Neue Haas Grotesk Text Pro";
    src: url(../asset/font/NHaasGroteskTXPro-Rg.ttf);
    font-weight: 400;
}

@font-face {
    font-family: "Neue Haas Grotesk Text Pro";
    src: url(../asset/font/NHaasGroteskTXPro-It.ttf);
    font-weight: 400;
    font-style: italic;
}
/* global styles */

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 28%;
    gap: 2em;
    margin-bottom: 4em;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 65vh;
    width: 100vw;
    border-bottom: 2px solid #3d4040;
}

.header_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.3);
}

h1 {
    font-size: 3.5em;
    margin-bottom: 0.2em;
}

h2 {
    font-size: 2em;
    font-weight: 400;
    color: #CCCCCC;
    margin-bottom: 0.5em;
}

.absolute {
    position: absolute;
}

p {
    color: #CCCCCC;
    margin-bottom: 0.5em;
    line-height: 1.7em;
}

.links {
    display: flex;
    gap: 2em;
}

.navbar {
    position: fixed;
    bottom: 4em;
    right: 4em;
    display: flex;
    flex-direction: column;
    gap: 0.2em;
}

.nav {
    color: #CCCCCC;
    /* text-decoration: none; */
}